@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
html ::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
html ::-webkit-scrollbar-track-piece {
  background: transparent;
}
html ::-webkit-scrollbar-track {
  background: transparent;
  z-index: 999999999999;
}
html ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
}
html ::-webkit-scrollbar-thumb:hover {
  background: white;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
}

* {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

html {
  max-width: 100%;
}

.container .pre-loader {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.container .pre-loader .loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pre-loader .loader-bg {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -1;
}
.container .loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: fit-content;
  z-index: 999;
  color: white;
}
.container .loader-content .count {
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
}
.container .loader-content .copy {
  flex: 6;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
}
.container .loader-content .copy .mli6 {
  overflow: hidden;
}
.container .loader-content .copy .mli6 .letter {
  display: inline-block;
  line-height: 1em;
}
.container .loader-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

nav {
  height: 3rem;
  width: calc(100% - 8rem);
  padding: 2rem 4rem;
  background-color: #0d0d0d;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
nav ul a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2vw;
  color: white;
  outline: none;
  border: none;
}

.main {
  padding: 4rem 8rem;
  min-height: 100vh;
  width: calc(100% - 16rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 16rem);
  position: relative;
  padding-top: 250px;
}
.main__imgContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__imgContainer img {
  height: 100vh;
  object-fit: cover;
  object-fit: cover;
  object-position: top center;
}
.main h1 {
  font-size: 15vw;
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue";
  width: fit-content;
  line-height: 15vw;
  height: auto;
  display: block;
  white-space: nowrap;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
}

.about {
  width: calc(100% - 16rem);
  padding: 0 8rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  height: calc(100vh - 7rem);
}
.about h2 {
  font-size: 10vw;
  font-family: "Bebas Neue";
  padding: 0;
  display: inline-block;
  height: fit-content;
}
.about__content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.about__content p {
  width: 100%;
  font-size: 1vw;
  font-family: "Arvo";
}
.about__content__services {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding-top: 80px;
  justify-content: space-between;
  gap: 3rem;
  margin-top: auto;
}
.about__content__services__service {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px 40px;
  width: 30%;
  background-color: #262626;
  font-family: "Roboto";
  opacity: 1;
}
.about__content__services__service h4 {
  font-size: 1.5vw;
  font-family: "Arvo";
  line-height: 24px;
  margin-bottom: 10px;
}
.about__content__services__service p {
  font-size: 0.75vw;
}
.about__img {
  width: fit-content;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.about__img img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center center;
}

.work {
  width: calc(100% - 16rem);
  padding: 0 8rem 4rem;
  min-height: 100vh;
}
.work__titleContainer {
  height: fit-content;
  overflow: hidden;
}
.work h2 {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.work h2 .char {
  font-size: 10vw;
  font-family: "Bebas Neue";
  width: 100%;
}
.work button {
  background: transparent;
  border: 1px solid white;
  outline: none;
  padding: 20px 40px;
  font-family: "Bebas Neue";
  font-size: 2vw;
  margin: 40px auto 0;
  display: block;
  transition: all 0.15s ease-in-out;
  width: fit-content;
}
.work button:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.work__imgs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  max-width: 100%;
  gap: 4rem;
  margin-top: 2rem;
}
.work__imgs__container {
  position: relative;
}
.work__imgs__container h3 {
  position: absolute;
  z-index: 9;
  font-size: 5rem;
  text-align: center;
  top: 50%; /* 50% desde la parte superior del contenedor */
  left: 50%; /* 50% desde la parte izquierda del contenedor */
  transform: translate(-50%, -50%);
}
.work__imgs__container img {
  width: 100%;
  height: auto;
  opacity: 1;
  filter: grayscale(100%);
}

.contact {
  width: calc(100% - 16rem);
  padding: 0 8rem 4rem;
}
.contact__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.contact__links__container:last-child {
  align-items: end;
}
.contact__links__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
}
.contact__links__container a {
  text-decoration: none;
}
.contact__links__container a,
.contact__links__container p {
  font-size: 1.5vw;
}

@media (max-width: 1024px) {
  nav {
    padding: 2rem;
    width: calc(100% - 4rem);
  }
  .about {
    flex-direction: column;
    height: fit-content;
  }
  .about__img {
    width: 100%;
    height: auto;
  }
  .about__img img {
    width: 100%;
  }
  .about__content {
    width: 100%;
  }
  .about__content h2 {
    width: 100%;
    text-align: center;
  }
  .about__content p {
    font-size: 2vw;
    text-align: center;
  }
  .about__content__services {
    flex-direction: column;
    width: fit-content;
  }
  .about__content__services__service {
    width: 100%;
    box-sizing: border-box;
  }
  .about__content__services__service h4 {
    text-align: center;
    font-size: 5vw;
  }
  .work__imgs {
    flex-direction: column;
    width: 100%;
  }
  .work button {
    font-size: 2rem;
  }
  .contact__links {
    flex-direction: column;
    gap: 5rem;
  }
  .contact__links p,
  .contact__links a {
    font-size: 3vw;
    white-space: normal;
    word-break: break-all;
  }
  .contact__links__container:last-child {
    align-items: start;
  }
}
@media (max-width: 768px) {
  nav ul a {
    font-size: 3vw;
  }
  .main {
    padding: 4rem 4rem;
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
  }
  .about {
    padding: 4rem 4rem;
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
    padding-top: 2rem;
  }
  .about h2 {
    font-size: 15vw;
  }
  .about p {
    font-size: 3vw;
  }
  .work {
    padding: 4rem 4rem;
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
  }
  .contact {
    padding: 4rem 4rem;
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
  }
  .contact p,
  .contact a {
    font-size: 5vw;
  }
}

/*# sourceMappingURL=index.css.map */
